node_modules
package.json
yarn.lock
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
.history
.dockerignore
env
Dockerfile
*.conf
.docz
README.md
readme.md
/.next/
/.vercel/
